/* CSS Code snippets that I have found and want to keep for reference */

/* Shadow below and element, really lifts it up off the page */
:before {
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    content: "";
    height: 44px;
    position: fixed;
    width: 910px;
}
